<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Anime Recommendations</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Get Anime Recommendations</h1>
    <form action="/recommendations">
        <input type="text" name="anime" id="anime" placeholder="Enter an Anime" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>